/* PAGE */
body {
    font-family:Arial;
    margin:0;
}

/* SIDEBAR BUTTON */
.sidebarbtn{
    padding:0.5em;
    font-size:30px; 
    float:left;
    margin-right:10px;
}
.sidebarbtn:hover{
    background:lightgray;
    cursor:pointer;
}
/* LOGO */
.logo {
    margin:0 auto;
    background:white;
    color:rgb(51,51,51);
}
.brand { 
    font-size:200%;
    font-family: 'Pacifico', cursive;
}
.signature {
    font-size:90%;
    margin-top:-10px;
    font-family: 'Open Sans', sans-serif;
}
/* MENU/SIDEBAR */
.menu {
    background:black;
    margin:0;
}
.menu ul {
    list-style:none;
}
.menu > ul > li {
    padding:10px;
}
.menu > ul > li > a {
    text-decoration: none;
    color:white;
}
.menu > ul > li > a:hover {
    color:rgb(33,150,243);
}
/*    -    -    -    -    -    SMALL SCREEN    -    -    -    -    -    */
@media screen and (max-width: 480px) {
    h2{
        margin-top:30px;
    }

    @keyframes slidein {
        from {
          left: -400px;
        }
        to {
            left:0px;
        }
    }
    .menu {
        display:none;
        position:absolute;
        top:0;
        left:0;
        padding:10px;
        width:60%;
        height:100vh;
        animation-name:slidein;
        animation-duration:0.5s;
    }
    @keyframes turndark {
        from {
            background:rgba(0,0,0,0);
        }
        to {
            background:rgba(0,0,0,0.5);
        }
    }
    .back {
        display:none;
        position:absolute;
        background:rgba(0,0,0,0.5);
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        animation-name:turndark;
        animation-duration:1s;
    }
    .menu ul li {
        padding:50px;
    }
}
/*    -    -    -    -    -    LARGE SCREEN    -    -    -    -    -    */
@media screen and (min-width: 480px) {
    h2 {
        margin-top : 60px;
    }
    .menu {
        display:block;
        position:sticky;
        padding:10px;
        Top:0px;
        margin-bottom:30px;
    }
    .sidebarbtn{
        display:none;
    }
    .logo {
        padding:20px;
        padding-bottom: 5rem;
        max-width:980px;
    }
    .menu ul {
        display:flex;
        justify-content:space-around;
        list-style:none;
        padding:0;
        margin:0;
    }
}

.contenu {
    max-width:980px;
    margin:0 auto;
    padding:0 20px;
}

.grid {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap:20px;
}

aside ul {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap:1px;
    box-sizing:border-box;
    height:200px;
    font-size:150%;
    color:white;
    padding:0;
    border-radius:5px;
    margin:0;
    list-style:none;
}

aside > ul > li {
    padding : 0;
    font-family:serif;
    color:gray;
    display:table;
}

aside > ul > li:nth-child(1) {
    background:rgb(244,67,44);
}

aside > ul > li:nth-child(2) {
    background:rgb(33,150,243);
}

aside > ul > li:nth-child(3) {
    background:rgb(0,150,136);
}

aside > ul > li:nth-child(4) {
    background:rgb(255,152,0);
}

aside > ul > li:hover{
    opacity:0.5;
    cursor:pointer;
}

aside > ul > li > div {
    padding:1px;
    color:white;
    display:table-cell;
    text-align:left;
    vertical-align:bottom;
}
